[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:ryantrinkle/nixpkgs
	branch = ghcjs2
[submodule "gtk2hs"]
	path = gtk2hs
	url = git@github.com:ryantrinkle/gtk2hs
[submodule "ghcjs-dom"]
	path = ghcjs-dom
	url = git@github.com:ghcjs/ghcjs-dom
[submodule "webkit"]
	path = webkit
	url = git@github.com:ryantrinkle/webkit
[submodule "clay"]
	path = clay
	url = git@github.com:ryantrinkle/clay
[submodule "hs-stripe"]
	path = hs-stripe
	url = ministryofdevelopment.dyndns.org:/srv/git/hs-stripe.git
[submodule "reflex-dom"]
	path = reflex-dom
	url = git@github.com:ryantrinkle/reflex-dom.git
[submodule "reflex"]
	path = reflex
	url = git@github.com:ryantrinkle/reflex.git
[submodule "groundhog"]
	path = groundhog
	url = git@github.com:lykahb/groundhog.git
[submodule "ghcjs-canvas"]
	path = ghcjs-canvas
	url = git@github.com:ghcjs/ghcjs-canvas
[submodule "amazonka"]
	path = amazonka
	url = git@github.com:ryantrinkle/amazonka
