[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/ryantrinkle/nixpkgs
	branch = ghcjs2
[submodule "reflex"]
	path = reflex
	url = git@github.com:ryantrinkle/reflex.git
[submodule "reflex-dom"]
	path = reflex-dom
	url = git@github.com:ryantrinkle/reflex-dom.git
[submodule "gtk2hs"]
	path = gtk2hs
	url = https://github.com/ryantrinkle/gtk2hs
[submodule "ghcjs-dom"]
	path = ghcjs-dom
	url = https://github.com/ghcjs/ghcjs-dom
[submodule "webkit"]
	path = webkit
	url = https://github.com/ryantrinkle/webkit
[submodule "clay"]
	path = clay
	url = https://github.com/ryantrinkle/clay
[submodule "hs-stripe"]
	path = hs-stripe
	url = ministryofdevelopment.dyndns.org:/srv/git/hs-stripe.git
